<!DOCTYPE html>
<html>
    <center><img src=\"""" + institution_img + """\" alt="logo" width=100 height=100 ><center>
    <center><h4 style="margin-bottom:5"; width="200px">{}</h4>""".format(institution_name) + """</center>
    <center><a href=\"""" + institution_url + """\">Go to the Institution's Website</a></center>
    <center> <table style="height: 126px; width: 305px;">
        <tbody>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Institution Type </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">"""+institution_type + """</td>
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">City and State </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(city_state) + """
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Highest Degree Awarded </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(highest_degree) + """
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Admission Rate </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(admission_rate) + """
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Annual Cost of Attendance </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(cost) + """
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">In-state Tuition </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(instate_tuit) + """
            </tr>
            <tr>
                <td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Out-of-state Tuition </span></td>
                <td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(outstate_tuit) + """
            </tr>
        </tbody>
    </table></center>
</html>2